<ol>
    <li>
        <md-form-field>
            <input mdInput [(ngModel)]="typeName" placeholder="What's your device type?">
        </md-form-field>
    </li>
    <li>
        <button md-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="name">
        You chose: <i>{{name}}</i>
    </li>
</ol>