<h1 md-dialog-title>Device type {{data.typeName}}</h1>
<div md-dialog-content>
  <p>What's device id?</p>
  <md-form-field>
    <input mdInput tabindex="1" [(ngModel)]="data.deviceId">
  </md-form-field>
  <p>What's device name?</p>
  <md-form-field>
    <input mdInput tabindex="2" [(ngModel)]="data.name">
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="{deviceType: data.typeName, deviceName: data.name, deviceId: data.deviceId}" tabindex="3">Ok</button>
  <button md-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>