.droppable{
	padding:10px;
  border:1px solid #bbb;
  min-height:60px;
}
.highlight{
	border:solid 1px #0d0;
}
.dropItem{
  display:inline-block;
  padding:2px 4px;
  margin:4px;
  border:1px solid #aaa;
  background-color:#aaf;
}