<p>
</p>
<div dropDirective (dropEvent)="addDropItem($event)" class="droppable" [dropHighlight]="'highlight'">
    <app-generic-box *ngFor="let item of itemsDropped | async" [genericBox]='item' class="dropItem"></app-generic-box>
</div>
<br/>