.containerX {
    padding: 5px;
    border: solid 1px #b6b6b6;
    box-sizing: content-box !important;
    margin: auto;
    text-align: center;
    width: 1280px;
}

div.container {
    color: white;
}

div.app__header {
    height: 100px;
    background-color: #03a9f4;
    border-radius: 3px;
}

.container div[ng-reflect-flex*=calc] {
    color: #343434;
    background-color: #8bc34a;
}

.container div.col3 {
    background-color: #009682;
    color: white;
}

div.container>div {
    background-color: #03a9f4;
}

div.container>div:first-child {
    margin-left: 0;
}

div.app__main_menu {
    background-color: #a39d9d;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 3px;
}

div.app__device_current,
div.app__container {
    min-height: 100px;
    height: auto;
}

div.app__device_list {
    border-left: 2px solid blue;
    margin: 3px;
    padding: 3px;
}

.device__item {
    height: inherit !important;
    min-width: 100px;
    max-width: 160px;
    width: auto;
    margin-bottom: 3px;
    border: 1px solid gray;
}

.app__navigator {
    width: 100%;
    text-align: left;
    margin: 3px;
}

.app__navigator_header {
    border: 1px solid gray;
    font-weight: bold;
    width: 100%;
    color: white;
}

.dragItem {
    border: 2px solid #aaa;
}

.highlight {
    border: dotted 2px red;
}

.badHighlight {
    border: solid 1px rgb(3, 255, 129);
}

.mat-card {
    padding: 12px;
}