<div class="containerX" fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
    <div class="container app__header" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="40">Product name</div>
        <div fxFlex fxFill>
            <div fxLayout="column" fxLayoutAlign="center end" fxFill class="app__main_menu">
                Main menu
            </div>
        </div>
    </div>
    <div class="container app__device_current" fxLayout="row" fxLayoutAlign="start center" style="background-color:#03a9f4;">
        <div fxFlex="30">
            Ao cá nhà bác bảy
        </div>
        <div fxFlex fxFill>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutWrap fxFill class="app__device_list" fxLayoutGap="3px">
                <md-card class="device__item">
                    <md-card-title>Device 1</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 2</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 3</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 1</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 2</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 3</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 1</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 2</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 3</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 1</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 2</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
                <md-card class="device__item">
                    <md-card-title>Device 3</md-card-title>
                    <md-card-content>realTime data</md-card-content>
                </md-card>
            </div>
        </div>
    </div>

    <div class="container app__container" fxLayout="row" fxLayoutAlign="start start" style="background-color:#03a9f4;">
        <div fxFlex="30" fxFill fxLayout="row" fxLayoutAlign="start start">
            <md-list class="app__navigator" dropDirective (dropEvent)="addDropItem($event,typeCheck.Device)" (dragenterEvent)="dragEnter($event,typeCheck.Device)" (dragleaveEvent)="dragLeave()" [ngClass]="highlight[typeCheck.Device]">
                <h3 md-subheader class="app__navigator_header">Device</h3>
                <md-list-item *ngFor="let device of devices">
                    <md-icon md-list-icon>{{device.icon}}</md-icon>
                    <h4 md-line>{{device.name}}</h4>
                    <p md-line> {{device.updated | date}} </p>
                </md-list-item>
                <md-divider></md-divider>
                <h3 md-subheader class="app__navigator_header">Material</h3>
                <md-list-item *ngFor="let note of notes">
                    <md-icon md-list-icon>room</md-icon>
                    <h4 md-line>{{note.name}}</h4>
                    <p md-line> {{note.updated | date}} </p>
                </md-list-item>
                <h3 md-subheader class="app__navigator_header">Tool</h3>
            </md-list>
        </div>
        <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutWrap fxFill class="app__device_list" fxLayoutGap="3px">
                <md-card class="device__item dragItem" fxLayout="column" fxLayoutAlign="start start" *ngFor="let device of devices" [dragDirective]='device' [dragHightlight]="'highlight'" (startDrag)="startDrag(device)">
                    <md-card-header>
                        <md-icon md-list-icon md-card-avatar>{{device.icon}}</md-icon>
                        <md-card-title style="text-align: left">{{device.name}}</md-card-title>
                        <md-card-subtitle>{{device.updated | date}}</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <p>
                            description about device
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button color="primary">Edit</button>
                        <button md-button color="accent">Add device</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutWrap fxFill class="app__device_list" fxLayoutGap="3px">
                <md-toolbar>Drag and drop device on above to navigator on left</md-toolbar>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-xs-12">
  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Box to drag things into</h3> 
      <app-drop-area></app-drop-area>
    </div>
  </div>  
  <app-type-check></app-type-check>
</div> -->