.dragItem{
  border:1px solid #aaa;
  padding:2px 4px;
  margin:5px 0;
  width:90px;
  height:90px;
}
.dragItem-round{
  border-radius:45px;
}
.highlight{
	border:solid 1px #0d0;
}

.padding-left-5{
  margin-right:5px
}