<div class="row">
<div *ngFor="let item of itemsToDrop" [dragDirective]='item' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event)" class="dragItem col-md-2 padding-left-5" [ngClass]="{'dragItem-round':item.type===0,'dragItem-square':item.type===1}" (startDrag)="startDrag(item)">
    <app-generic-box [genericBox]='item'></app-generic-box>
</div>
</div>